<!doctype html>
<html lang="zh-cn">

{{ partial "head.html" . }}

<body>
  {{ partial "nav.html" . }}
  
  <div class="container">
    <article>
      {{ block "main" . }}{{ end }}
    </article>
  </div>

  {{ partial "bootstrap-js.html" . }}
  {{ partial "google-analytics-async.html" . }}
  {{ partial "mastodon-js.html" . }}
  {{ partial "cookie-consent.html" . }}
</body>

</html>
